* {
    padding: 0;
    margin: 0;

}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #2C5F2D;

}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px; 
    margin-right: 10px;
}

.companyName {
    font-family: "Ubuntu", sans-serif;
    text-align: start;
    font-size: 24px;
    font-weight: bold;
    color:#f5e2dc;
}

.navButton a {
    font-size: 20px;
}


.navButton {
    background-color: #2C5F2D;
    border-radius: 2rem;
    border: 2px solid #2C5F2D;
    padding: 20px;
}

.navButton:hover {
    background-color: #f5e2dc;
    border-radius: 2rem;
    transition: .3s;
}

.navButton:hover a {
    text-decoration: none;
    color: #2C5F2D;
}

.navButton>a {
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    color: #f5e2dc;
}


.direcciones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;

}


.sectionProducts {
    background-image: url(../Imagenes/FONDO.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    margin-top: 30px;
    margin-bottom: 30px;
    height: 700px;

}



.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 400px;
    height: 550px;
    border-radius: 2rem;
    background-color: #F5F5DC;
    transition: all 0.5s ease;
}

.productos p {
    font-family: sans-serif;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}

.productos  .mananitaYerba,.rosamonteYerba,.chamigoYerba{
    width: 230px;
    transition: transform 0.5s ease;
}

.rosamonteYerba {
    width: 215px;
}

.productos img:hover {
    transform: scale(1.2);
}

.productos img:hover~p {
    visibility: hidden;
    transition: visibility 0s, opacity 0.3s ease;
}

.mananitaYerba,
.rosamonteYerba,
.chamigoYerba {
    transition: transform 0.5s ease;
}

.mananitaYerba:hover,
.rosamonteYerba:hover,
.chamigoYerba:hover {
    cursor: zoom-in;
}

.descripcionYerba {
    padding: 20px;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

.descripcionPrecioYerba {
    font-size: 25px;
    font-weight: bolder;
    
}


.sobreNosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C5F2D;
    padding: 50px 0;
    color: #F5F5DC;
}

.sobreNosotros p {
    
    font-family: sans-serif;
    font-size: large;
 
}

.contenido {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1200px;
    width: 90%;
}

.textContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
        margin-top: 20px;
    }
}

.imagenSobreNosotros {
    margin-top: 55px;
    width: 40%;
    margin-right: 30px;
    border-radius: 10px;
}

.textoSobreNosotros {

    width: 60%;
}

.textoSobreNosotros h3 {
    font-family: "Ubuntu", sans-serif;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #F5F5DC;
}


.footer {
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    font-family: "Ubuntu", sans-serif;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: green;
    position: end;
}

.iconsSocialMedia {
    display: flex;
    justify-content: flex-end; 
    list-style: none; 
    margin: 0;
}

.iconsSocialMedia li {
    margin: 5px 10px; 

}

.iconsSocialMedia img {
    border-radius: 2rem;
    border: 2px solid #2C5F2D;
    background-color: #f5e2dc;
    color: #2C5F2D;
    padding: 3px;
    width: 25px; 
}

.copyright p {
    padding: 10px;
    color: #f5e2dc;
}

.textContent h2 {
    font-size: 70px;
}

.textContent p {
    
    font-size: 19px;
}
