* {
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100%;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #2C5F2D;

}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    margin-right: 10px;
}

.companyName {
    font-family: "Ubuntu", sans-serif;
    text-align: start;
    font-size: 24px;
    font-weight: bold;
    color: #f5e2dc;
}

.navButton a {
    font-size: 20px;
}


.navButton {
    background-color: #2C5F2D;
    border-radius: 2rem;
    border: 2px solid #2C5F2D;
    padding: 20px;
}

.navButton:hover {
    background-color: #f5e2dc;
    border-radius: 2rem;
    transition: .3s;
}

.navButton:hover a {
    text-decoration: none;
    color: #2C5F2D;
}

.navButton>a {
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    color: #f5e2dc;
}

.direcciones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;

}

a {
    text-decoration: none;
    color: black;
    font-family: "Ubuntu", sans-serif;


}

body {
    font-family: "Ubuntu", sans-serif;

    background-color: #f9f9f9;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contact-item {
    text-align: center;
}

.contact-item p {
    margin: 5px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group input {
    width: 48%;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;

}

.envioFormulario {
    font-family: "Ubuntu", sans-serif;

    padding: 10px;
    background-color: #d3c3b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.envioFormulario:hover {
    background-color: #b29a88;
}



.iconsSocialMedia {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

.iconsSocialMedia li {
    margin: 5px 10px;

}

.iconsSocialMedia img {
    border-radius: 2rem;
    border: 2px solid #2C5F2D;
    background-color: #f5e2dc;
    color: #2C5F2D;
    padding: 3px;
    width: 25px;
}

.copyright p {
    padding: 10px;
    color: #f5e2dc;
}

footer {
    margin-top: 278px;
    display: flex;
    font-family: "Ubuntu", sans-serif;
    flex-direction: row;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: green;
    position: end;
}
