*{
    padding: 0;
    margin: 0;

}



/*estilos generales*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {    
    width: 50px ;
    height: 50px;
    
} 
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color:#2C5F2D
    ;

}

.direcciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    
}
a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;

}



.sectionProducts{
    background-image: url(./Imagenes/FONDO.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* background-color: #000; */
    margin-top: 30px;
    margin-bottom: 30px;
    height: 500px;

}

.sectionProducts img {
    height: 500px;
}


.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 200px;
    height: 250px;
    border-radius: 2rem;

    background-color: #F5F5DC;
    background-image: url(/FOTOS/PLAYA.webp);

}

.sobreNosotros {
    position: center;

    height: 170px;
    background-color: #F5F5DC;
}

.sobreNosotros h3{

    
    margin-bottom: 10px;
    


}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: green;
    position: end;
    
}
